*, ::after, ::before {
    box-sizing: border-box;
}
div {
    display: block;
}

.text-main{
    color: #eb4d4b;
}

.btn{
    border-radius: 0;
}

.btn-main{
    background-color: #dc3545;
    color: #fff;
}

.btn-main2{
    background-color: #eb4d4b;
    color: #fff;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

/* navbar */
nav{
    background-color: #fff;
    box-shadow: 0px 3px #d4cece;
}

nav .nav-link{
    text-decoration: none;
    color: #666666;
    font-weight: bold;
}

nav .nav-link:hover{
    color: #eb4d4b;
    transition: 0.5s;
}

nav .nav-link:active,.nav-link:focus{
    color: #eb4d4b;
}

@media (min-width: 1200px){
    nav .navbar-nav{
        margin-left: 180px;
    }
}

@media (min-width: 1116px) and (max-width: 1199px){
    nav .navbar-nav{
        margin-left: 80px;
    }
}

@media (min-width: 992px) and (max-width: 1117px){
    nav .navbar-nav{
        margin-left: 60px;
    }
}

@media (max-width: 992px){
    nav .navbar-nav{
    margin-bottom: 10px;
    text-align: center;
    }
}

nav .navbar-nav ul li{
    margin-right: 40px;
}

nav .navbar-nav .dropdown-menu{
    background-color: grey;
    border-top: none;
    border-radius: 0;
}

nav .navbar-nav .dropdown-menu .dropdown-item{
    color: #fff;
    font-weight: 500;
}

nav .navbar-nav .dropdown-menu .dropdown-item:hover{
    background-color: grey;
    color: #fff;
}

/* to make hoverable dropdown */
nav .dropdown:hover>.dropdown-menu {
	display: block;
}
  
nav .dropdown>.dropdown-toggle:active {
	  pointer-events: none;
}

.navbar-icons{
    text-align: center;
}
.navbar-icons a{
    display: inline-block;
    font-size: 20px;
    color: #eb4d4b;
    margin-right: 20px;
}

.navbar-icons a:hover{
    color: #000;
}
.navbar-icons a:last-child {
    margin-right: 0;
}

.fa-navicon{
	color: #eb4d4b;
}


@media (max-width: 992px){
    .navbar-icons a{
        font-size: 25px;
        margin-top: 10px;
    }
    .fa-navicon{
        margin-right: 0;
    }
}


.navbar-brand i{
    color: #eb4d4b;
}

.navbar-brand{
    text-decoration: none;
    color: #eb4d4b;
    font-weight: bolder;
}

.navbar-brand:hover{
    color: #eb4d4b;
}

.navbar-brand span{
    margin-left: 10px;
}
/* ------------------ */


/*Home page*/
.hero-image{
    height: 75vh;
    background: url("https://media.istockphoto.com/photos/top-view-at-clothes-in-cardboard-box-picture-id1301756602?b=1&k=20&m=1301756602&s=170667a&w=0&h=kXg3xN6vLTgO1K6iKQ4qe1-M6h-mcoiXHWunQM2zn00=") no-repeat center;
    background-size: cover;
    position: relative;
    width: 100%;

}
.hero-image .text-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-align: center;
    color: #000;
    font-weight: 700;
    opacity: 2;
    text-transform: uppercase;
}
.hero-image .text-container h3{
    font-style: italic;
}
.hero-image .text-container h1 span{ 
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
} 
.hero-image .text-container h1{
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-family: 'Times New Roman', Times, serif;
}

  /* offer section starts */
.sale{
    width: 90%;
    margin: 20px auto;
}
.box{
    position: relative;
}
.box img{
    width: 100%;
}
.box .box-text{
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 2rem;
    font-weight: 500;
}
.box-text .special-offers{
    color: #666666;
}
.box-text .offers{
    color: red;
}
@media screen and (max-width:500px) {
    .sale{
        width: 100%;
    }
    .box .box-text{
        font-size: 20px;
    }
}
/* offer section ends */

  /*look-back start*/

.lookbook{
    padding: 10px;
}

.lookbook h1{
    font-weight: 500;
    color: #eb4d4b;
}

.loobook-img img{
    max-width: 100%;
    border-radius: 2px;
}
/*look-back end*/

/*banner starts*/

#banner{
    background-image: url("/images/parallax.jpg");
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: top 70px cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#banner .banner-text{
    margin-left: 1.5rem;
}
#banner .banner-text h4{
    color: #D8D8D8;
}
#banner .banner-text h1{
    color: #fff;
}
#banner .banner-text button{
    background-color: #eb4d4b;
}
/*banner ends*/

/*logo-slider starts*/
.brand h1{
    font-size: 2rem;
    text-transform: uppercase;
}
.logo-slider{
    height: 150px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.logo-slider .logo-slide-track{
  /*  animation: scroll 40s linear infinite; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.logo-slider .slide{
    height: 100px;
    width: 100px;
    margin: 20px;
}
.logo-slider .slide img{
    height: 50px;
    width: 100%;
  
}
/*
 @keyframes scroll {
    0%{
       transform: translateX(0); 
    }
    100%{
        transform: translateX(calc(-250px * 7));
    }
} */
/*Home page end*/

/* about page */
.about-section img{
    max-width: 400px;
}
@media screen and (max-width:500px) {
    
.about-section img{
    width: 250px;
    height: 250px;
    margin: 20px auto;
    display: block;
}
}
.about-heading{
    color: #eb4d4b;
    margin-bottom: 20px ;
}

.faq .panel-heading {
    cursor: pointer;
}
  
.faq .faq-toggle.collapsed::before {
    font-family: "Ionicons";
    content: "\f218";
    -webkit-transition: 0.5s linear ease-out;
            transition: 0.5s linear ease-out;
    position: absolute;
    left: 15px;
}
.faq .faq-toggle::before {
    position: absolute;
    left: 15px;
    font-family: "Ionicons";
    content: "\f209";
}
.faq .panel-group .panel + .panel {
    margin-top: 15px;
}
.faq .panel-default > .panel-heading {
    color: #000;
    border-color: #000;
    border-radius: 0;
    padding: 0;
}
.faq .panel-default > .panel-heading a {
    position: relative;
    display: block;
    text-decoration: none;
    padding: 15px 15px 15px 35px;
}

#query-section .panel a{
    width: 100%;
    display: block;
}

#query-section .panel-heading{
    border-radius: 40px;
    border: 1px solid #000;
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 2px 2px #4f4c4c;
}

.faq-toggle{
    color: #eb4d4b;
    text-decoration: none;
    font-size: 1.3rem;
}

.faq-toggle:hover{
    color: rgb(194, 33, 33);
}

/* Services */
.services-icon-wap
{
    transition: .3s;
}
.services-icon-wap i{
    color: #eb4d4b;
}

.services-icon-wap:hover, .services-icon-wap:hover i{
    color: #fff;
}

.services-icon-wap:hover{
    background: #eb4d4b;
}



/* ------------- */


/* Products */
.our-products{
    width: 80%;
    display: block;
    margin: 20px auto;
}
.some-text{
    padding-top: 4px;
    color: #666666;
}

.product-items .card{
    display: block;
    margin: 0 auto;
}
.our-products h1{
    text-align: center;
}
.our-products h1 span{
    color: #dc3545;
}

.our-products .dropdown button:hover{
    color: #fff;
}
.product-items .card{
    width: 15rem;
}
.card-text{
    margin: 10px 0;
    font-weight: 500;
}
.card-title{
    font-size: 1.5rem;
}
.card-text span{
    text-decoration: line-through;
    color: #666666;
    margin-left: 10px;
}
.pro-discount{
    color: red;
    font-weight: 500;
}
.deal{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    -webkit-box-align: center;
    background-color: azure;
}
.deal .deal-img{
    flex: 1 1 22rem;
}
.deal .deal-content{
    flex: 1 1 22rem;
}
.deal .deal-content span{
    color: #eb4d4b;
    font-size: 1.7rem;
}
.deal .deal-content h3{
    color: #130f40;
    font-size: 3rem;
    padding: 0.5rem 0;
}
.deal .deal-content p{
   
    font-size: 1.2rem;
}
@media screen and (max-width:800px) {
    .deal .deal-content{
        margin-left: 12px;
        margin-bottom: 20px;
    }
    .deal .deal-content span{
        font-size: 1rem;
    }
    .deal .deal-content h3{
        color: #130f40;
        font-size: 2rem;
        padding: 0.5rem 0;
    }
    .deal .deal-img img{
        width: 100%;
    }
    
}
@media screen and (max-width:600px){
    .product-items .card{
        width: 18rem;
    }
}

/* cart section of products page */

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.remove {
    color: #fff;
    background-color: #EB5757;
    border: #eb4d4b;
    border-radius: .3em;
    font-weight: bold;
}


.btn:hover {
    background-color: #eb4d4b;
    color: #fff;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #eb4d4b;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
    font-weight: bold;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: #eb4d4b;
    margin-right: 20px;
}

.cart-total-price {
    color: rgb(114, 101, 101);
    font-size: 1.3em;
    font-weight: bold;
}

.btn-purchase {
    background-color: #eb4d4b;
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.15em;
    padding: 10px;
    border: none;
    font-weight: 600;
}

@media (max-width: 375px){
    .cart-item-title {
        display: none;
    }
    
}

/* --------- Products end -------------------*/

/* Featured */
.alert-notification{
    background-color: #5276a5;
    color: #fff;
    padding: 8px 0;
    text-align: center;
}
@media screen and (max-width:600px){
    .alert-notification{
        padding: 3px 0;
    }
}
.featured-cloth{
    display: block;
    width: 80%;
    margin: 20px auto;
}

.featured-alert{
    font-weight: bold;
    color: #eb4d4b;
}

.featured-alert .alert-dark{
    color: #eb4d4b;
}

.blue-shirt{
    display: flex;
    justify-content: space-between;
}
.blue-shirt .shirt-image{
    width: 40%;
}
.blue-shirt .shirt-image img{
    width: 100%;
}
.blue-shirt .shirt-content{
    align-items: center;
    width: 50%;
}
.blue-shirt .shirt-content h1{
    color: #eb4d4b;
}
.blue-shirt .shirt-content .price{
    font-weight: 500;
    margin-top: 10px;
}
.relatedPro{
    width: 80%;
    display: block;
    margin: 0 auto;
}
.relatedPro h1{
    color: #eb4d4b;
    text-align: center;
}
.relatedPro p{
    text-align: center;
    color: #666666;
}

@media screen and (max-width:850px) {
    .blue-shirt{
        flex-direction: column;
        justify-content: center;
    }
    .blue-shirt .shirt-image{
        width: 100%;
    }
    .blue-shirt .shirt-content{
        width: 100%;
        margin: 20px 0;
    }
  
}

/* Featured ends */

/* contact page */
.get-in-touch{
    width: 80%;
    margin: 20px auto;
}
.get-in-touch h1{
    text-align: center;
    color: #eb4d4b;
    font-weight: 600;
}

.get-in-touch form .form-control{
    color: #eb4d4b;
}

.get-in-touch form input, .get-in-touch form textarea{
    border: 1px solid rgb(185, 175, 175);
    border-radius: 0;
    font-weight: 800;
}

.get-in-touch .btn-danger{
    padding-left: 40px;
    padding-right: 40px;
}

.input-title{
    font-weight: 500;
    text-transform: uppercase;
}
iframe{
    width: 100%;
    height: 400px
}
/* reviews page*/

.t-bordered h1{
    font-weight: 600;
    padding: 10px;
}


.overall-ratings h3{
    font-weight: 600;
    padding: 10px;
}

#review-body .btn.btn-outline-primary:hover, .bg-primary {
    background-color: #f03f3c !important;
}

#review-body .testimonial-four blockquote:hover::after, .section-arrow-primary-color.section-arrow--bottom-center:after {
    border-right-color: #f03f3c;
}
#review-body .text-white h1, .text-white h2, .text-white h3, .text-white h4, .text-white h5, .text-white h6 {
    color: white !important;
}
#review-body .t-bordered {
    border-top: 1px solid #eaeaea;
    margin-bottom: 20px;
}

#review-body .section-primary {
    padding: 0px 0px;
}
#review-body section {
    position: relative;
}

#review-body .testimonial-two {
    padding: 20px;
    border: 2px solid #f03f3c;
    border-radius: 2px;
}


#review-body .testimonial-two blockquote p:before {
    font-size: 54px;
    color: #f03f3c;
    font-weight: 900;
    left: 10px;
    color: #FFF;
    content: "“";
    font-style: normal;
    line-height: 1;
    position: absolute;
    top: 5px;
    font-size: 45px;
}

#review-body .testimonial-two blockquote p:after {
    font-size: 54px;
    color: #f03f3c;
    content: "”";
    font-size: 80px;
    font-style: normal;
    line-height: 1;
    position: absolute;
    bottom: -0.5em;
    right: 10px;
    font-weight: 900;
    transform: scaleY(-1);
    font-size: 45px;
    bottom: -5px;
}


.testimonial-two blockquote {
    padding: 15px 15px 15px 48px;
    position: relative;
}

.testimonial-two blockquote p:before,
.testimonial-two blockquote p:after {
    color: #f03f3c;
    font-weight: 900;
}

.testimonial-two blockquote p {
    font-size: inherit;
    font-weight: inherit;
}

.testimonial-two .testimonial-author p {
    color: #999;
    margin: 0 0 0 25px;
    text-align: left;
}

.testimonial-two .testimonial-author strong {
    display: block;
    padding-top: 10px;
    margin-bottom: -2px;
    font-weight: 500;
    font-size: 14px;
    color: #444;
}

.testimonial-two .testimonial-author span {
    color: #666;
    display: block;
    font-size: 12px;
}

.testimonial-two .testimonial-author .testimonial-author-thumbnail {
    float: left;
    margin-right: 15px;
    width: auto;
}

.testimonial-two .testimonial-author img {
    max-width: 55px;
}

.testimonial-two .testimonial-author {
    margin-left: 12px;
    margin-bottom: 15px;
}


.testimonial-two .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 0px;
}

.testimonial-two .owl-theme .owl-dots {
    text-align: left;
    margin-left: 50px;
}

.testimonial-two .owl-carousel .owl-dots .owl-dot.active span, 
.testimonial-two .owl-carousel .owl-dots .owl-dot:hover span {
       border-color: #f03f3c;
}

.testimonial-two .owl-carousel .owl-dots .owl-dot.active span:before, 
.testimonial-two .owl-carousel .owl-dots .owl-dot:hover span:before {
    background-color: #f03f3c;
}

.testimonial-three .testimonial-image {
    float: left;
    margin: 0 20px 0 0;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    overflow: hidden;
}

.testimonial-three .testimonial-content {
    overflow: hidden;
}

.testimonial-three .testimonial-meta {
    position: relative;
    overflow: hidden;
    margin-left: 100px;
}


.testimonial-three .testimonial-name {
    display: block;
}

.testimonial-three .testimonial-three-col {
    padding-bottom: 35px;
    padding: 25px;
    transition: 0.5s;
}

.testimonial-three .testimonial-three-col:hover {
    background-color: #eb4d4b;
    color: #fff;
}

.testimonial-three .testimonial-three-col:hover .fa-star{
    color: #000;
}

.testimonial-three .testimonial-three-col:hover .checked{
    color: #fff;
}

.alternate-color .testimonial-three .testimonial-three-col:hover {
   background-color:white;
}


.testimonial-four .testimonial-author .testimonial-author-thumbnail {
   float: left;
   margin-right: 15px;
   width: auto;
}

.testimonial-four .testimonial-author img {
   max-width: 55px;
}

.testimonial-four .testimonial-author strong {
   display: block;
   padding-top: 10px;
   margin-bottom: -2px;
   font-weight: 500;
   font-size: 14px;
   color: #444;
}

.testimonial-four .testimonial-author span {
   color: #666;
   display: block;
   font-size: 12px;
}

.testimonial-four blockquote {
   padding: 30px;
   width: 100%;
   border-radius: 4px;
   position: relative;
   margin-bottom: 20px;
   padding-bottom: 25px;
}

.testimonial-four blockquote::after {
   content: "";
   -webkit-transform: rotate(55deg);
   -moz-transform: rotate(55deg);
   -ms-transform: rotate(55deg);
   -o-transform: rotate(55deg);
   transform: rotate(55deg);
   position: absolute;
   left: 55px;
   bottom: -12px;
   width: 15px;
   height: 21px;
   overflow: hidden;
   background: white;
}

.testimonial-four .owl-theme .owl-nav.disabled + .owl-dots {
   position: absolute;
   float: right;
   text-align: right;
   right: 3px;
   bottom: 40px;
}

.testimonial-four .testimonial-author {
   position: relative;
   overflow: hidden;
}

.testimonial-four blockquote:hover::after {
   border-right: 2px solid #f03f3c;
   border-bottom: 2px solid #f03f3c;
}

.testimonial-four blockquote:hover {
   border: 2px solid #f03f3c;
}

.testimonial-five blockquote p {
    font-weight: 400;
    font-size: 14.58px;
    line-height: 1.6;
    margin-bottom:0;
}

.testimonial-five .testimonial-author .testimonial-author-thumbnail {
   float: left;
   margin-right: 15px;
   width: auto;
}

.testimonial-five .testimonial-author img {
   max-width: 55px;
}

.testimonial-five .testimonial-author strong {
   display: block;
   padding-top: 10px;
   margin-bottom: -2px;
   font-weight: 600;
   font-size: 13px; 
}

.testimonial-five .testimonial-author span {
   color: #666;
   display: block;
   font-size: 12px;
}

.testimonial-five blockquote {
   padding: 32px 41px 37px;
   width: 100%;
   border-radius: 4px;
   position: relative;
   margin-bottom: 30px; 
   border: 0px solid #eaeaea;
   background-color: #f7f7f7;
}

.testimonial-five blockquote::after {
   content: "";
   border-right: 0px solid #eaeaea;
   border-bottom: 0px solid #eaeaea;
   -webkit-transform: rotate(55deg);
   -moz-transform: rotate(55deg);
   -ms-transform: rotate(55deg);
   -o-transform: rotate(55deg);
   transform: rotate(55deg);
   position: absolute;
   left: 55px;
   bottom: -10px;
   width: 15px;
   height: 21px;
   overflow: hidden;
   background: #f7f7f7;
}

.testimonial-five.testimonial-light blockquote{
   background-color:white;
}
.testimonial-five.testimonial-light blockquote::after {
   background: white;
}

.testimonial-five .owl-theme .owl-nav.disabled + .owl-dots {
   position: absolute;
   float: right;
   text-align: right;
   right: 3px;
   bottom: 40px;
}

.testimonial-five .testimonial-author {
   position: relative;
   overflow: hidden;
}

.testimonial-five blockquote:before {
    content: "“";
    speak-as: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 170px;
    color: rgba(189, 189, 189, 0.2);
    position: absolute;
    top: 10px;
    left: 20px;
}

.t-bordered .testimonial-link{
    color: #000;
    font-style: italic;
    text-decoration: none;
}

.t-bordered .testimonial-link:hover{
    color: rgb(11, 95, 145);
}

.testimonial-inner{
    padding: 12px;
}

img{
    max-width: 100%;
    height: auto;
}

.testimonial-meta .rating{
    font-style: italic;
    font-weight: 600;
}

.fa-star{
    color: #000;
}

.checked{
    color: #eb4d4b;
}

.overall-ratings{
    margin-bottom: 20px;
}

.progress-title{
    width: 100%;
    height: auto;
}

.progress-title h3{
    font-size: 18px;
    font-weight: 700;
    color: #eb4d4b;
    margin: 0 0 5px;
}

.progress{
    height: 20px;
    background: #fff;
    border-radius: 20px;
    border: 1px solid #000;
    /* box-shadow: 0 2px 2px #4f4c4c; */
    margin-bottom: 30px;
    overflow: visible;
    position: relative;
}

.progress .progress-bar{
    border-radius: 20px;
    border: 1px solid #eb4d4b;
    animation: animate-positive 2s;
}

.progress .progress-value{
    justify-content: center;
    text-align: center;
    width: 65px;
    height: 25px;
    line-height: 25px;
    background: #fff;
    font-size: 15px;
    color: #eb4d4b;
    border-radius: 0 0 15px 15px;
    border: 1px solid #000;
    border-top: none;
    /* box-shadow: 0 2px 2px #4f4c4c; */
    position: absolute;
    bottom: -25px;
    right: 60px;
}

@-webkit-keyframes animate-positive{
    0%{
        width: 0;
    }
}
@keyframes animate-positive{
    0%{
        width: 0;
    }
}


@media (max-width: 390px){
    .t-bordered .sub-head{
        padding-left: 15px;
        padding-right: 15px;
    }
    .overall-ratings .progress-title{
        padding-right: 12px;
        padding-left: 12px;
    }
}
/* --------------- */

/*Footer */
footer{
    background: rgb(50, 50, 50);
    width: 100%;
    bottom: 0;
    left: 0;
}

footer .content{
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
}
@media screen and (max-width:450px) {
    footer .content{
        max-width: 1250px;
        margin: auto;
        padding: 30px 40px 40px 25px;
    }
}
footer .content .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}
.content .top .logo-details{
    color: #fff;
    font-size: 30px;
}
.content .top .media-icons{
    display: flex;
}
.content .top .media-icons a{
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1){
    background: #4267B2;
}
.top .media-icons a:nth-child(1):hover{
    color: #4267B2;
    background: #fff;
}
.top .media-icons a:nth-child(2){
    background: #1DA1F2;
}
.top .media-icons a:nth-child(2):hover{
    color: #1DA1F2;
    background: #fff;
}
.top .media-icons a:nth-child(3){
    background: #E1306C;
}
.top .media-icons a:nth-child(3):hover{
    color: #E1306C;
    background: #fff;
}
.top .media-icons a:nth-child(4){
    background: #0077B5;
}
.top .media-icons a:nth-child(4):hover{
    color: #0077B5;
    background: #fff;
}
.top .media-icons a:nth-child(5){
    background: #FF0000;
}
.top .media-icons a:nth-child(5):hover{
    color: #FF0000;
    background: #fff;
}
footer .content .link-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.content .link-boxes .box .link_name{
    color: #eb4d4b;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    position: relative;
}
.link-boxes .box .link_name::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
}
.content .link-boxes .box li{
    margin: 6px 0;
    list-style: none;
}
.content .link-boxes .box li a{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
}
.content .link-boxes .box li a:hover{
    opacity: 1;
    text-decoration: none;
    color: #eb4d4b;
}
.content .link-boxes .input-box{
    margin-right: 55px;
}
.link-boxes .input-box input{
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #AFAFB6;
    background: rgb(50, 50, 50);
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: #fff;
    margin-top: 5px;
}
.link-boxes .input-box input::placeholder{
    color: #AFAFB6;
    font-size: 16px;
}
.link-boxes .input-box input[type="button"]{
    background: #eb4d4b;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
}
.input-box input[type="button"]:hover{
    opacity: 1;
}
footer .bottom-details{
    width: 100%;
    background: #000;
}
footer .bottom-details .bottom_text{
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
}
.bottom-details .bottom_text a:hover{
    opacity: 1;
    text-decoration: underline;
}
.bottom-details .bottom_text a{
    margin-right: 10px;
}
@media (max-width: 900px) {
footer .content .link-boxes{
    flex-wrap: wrap;
}
footer .content .link-boxes .input-box{
    width: 40%;
    margin-top: 10px;
}
}
@media (max-width: 700px){
footer{
    position: relative;
}
.content .top .logo-details{
    font-size: 26px;
}
.content .top .media-icons a{
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
}
footer .content .link-boxes .box{
    width: calc(100% / 3 - 10px);
}
footer .content .link-boxes .input-box{
    width: 60%;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
    font-size: 12px;
}
}
@media (max-width: 520px){
    footer::before{
        top: 145px;
    }
    footer .content .top{
        flex-direction: column;
    }
    .content .top .media-icons{
        margin-top: 16px;
    }
    footer .content .link-boxes .box{
        width: calc(100% / 2 - 10px);
    }
    footer .content .link-boxes .input-box{
        width: 100%;
    }
}
/* ------- */
/*Admin panel*/
.side-menu  a{
    text-decoration: none;
}
.side-menu .brand-name{
    border-bottom: 3px solid #fff;
    text-align: center;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-menu .brand-name i,a{
    color: #fff;
}
.side-menu .brand-name a{
    font-weight: 500;
}
.side-menu .brand-name a:hover{
    color: #fff;
}
.side-menu .brand-name a span{
    margin-left: 14px;
    font-size: 30px;
}
@media (max-width: 590px){
    .side-menu .brand-name a span{
        display: none;
    }
}
.side-menu ul{
    margin-top: 10px;
}
.side-menu ul li{
    list-style: none;
    margin: 0;
    font-size: 19px;
    padding: 10px 40px;
    color: #fff;
    display: flex;
    align-items: flex-start;
    margin-left: -1rem;
    transition: 0.4s;
}
.side-menu ul li:hover a,.side-menu ul li:hover{
    color: #eb4d4b;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.side-menu ul li:hover{
    background-color: #fff;
}

.side-menu ul li.active{
    background-color: #fff;
    color: #eb4d4b;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.side-menu ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: 0.4s;
}
.side-menu ul li a:hover{
    color: #eb4d4b;
}
.side-menu ul li a:hover img{
    color: #eb4d4b;
}
.side-menu ul li:hover, 
.side-menu .brand-name h1,h2{
    color: #444;
}
.side-menu{
    position: fixed;
    background: #eb4d4b;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.admin-container{
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
    background: #f1f1f1;    

}
.admin-container .a-header{
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 10vh;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    z-index: 1;
}
.admin-container .a-header .a-nav{
    width: 90%;
    display: flex;
    align-items: center;
}
.admin-container .a-header .a-nav .user{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.admin-container .a-header .a-nav .user i{
    color: #eb4d4b;
}
.admin-container .a-header .a-nav .user img{
    width: 40px;
    height: 40px;
}
.user a{
    text-decoration: none;
}
.user .a-btn{
    background-color: #eb4d4b;
    color: #fff;
    padding: 5px 10px;
    text-align: center;
}
.a-btn:hover{
    background-color: #eb4d4b;
    color: #fff;
    padding: 3px 8px;
    border: 2px solid #eb4d4b;
}
.admin-container .a-header .a-nav  .user .img-case{
    position: relative;
    width: 50px;
    height: 50px;
}
.admin-container .a-header .a-nav  .user .img-case img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.admin-container .a-content{
    position: relative;
    margin-top: 5vh;
    min-height: 90vh;
    background: #f1f1f1;
}
.admin-container .a-content .a-cards{
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.admin-container .a-content .a-cards .a-card{
    width: 250px;
    height: 150px;
    background-color: #fff;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),
    0 6px 20px 0 rgba(0,0,0,0.19);
}
.admin-container .a-content .a-cards .a-card h1{
    color: #444;
    font-size: 1.8rem;
}
.admin-container .a-content .a-cards .a-card h3{
    color: #999;
}
.admin-container .a-content .a-content2{
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.admin-container .a-content .a-content2 .recent-payments{
    min-height:50vh;
    flex: 5;
    background: #fff;
    margin: 0 25px 25px 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),
    0 6px 20px 0 rgba(0,0,0,0.19);
    display: flex;
    flex-direction: column;
}
.admin-container .a-content .a-content2 .new-customers{
    flex: 3;
    background: #fff;
    min-height: 50vh;
    margin: 0 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),
    0 6px 20px 0 rgba(0,0,0,0.19);
    display: flex;
    flex-direction: column;
}
.admin-container .a-content .a-content2 .recent-payments .title{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid #999;
}
.a-content2 .title a{
    text-decoration: none;
}
.a-content2 .title .a-btn{
    background-color: #eb4d4b; 
    color: #fff;
    padding: 5px 10px;
    text-align: center;
}
.admin-container .a-content .a-content2 .new-customers .title{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid #999;
}
table{
    padding: 10px;

}
tr, td{
    text-align: center;
    padding: 8px;
}
table a{
    text-decoration: none;
}
table .a-btn{
    background-color: #eb4d4b; 
    color: #fff;
    padding: 5px 10px;
    text-align: center;
}
table .a-btn:hover{
    background: #fff;
    color:#eb4d4b;
}
.admin-container .a-content .a-content2 .new-customers table td:nth-child(1) img{
    height: 40px;
    width: 40px;
}
@media screen and (max-width: 940px) {
    .side-menu ul li span{
        display: none;
    }
    .side-menu {
        align-items: center;
        text-align: center;
    }
    .side-menu ul li img{
        height: 40px;
        width: 40px;
    }
    .side-menu li:hover{
        background: #eb4d4b;
        padding: 8px 38px;
        border: 2px solid #fff;
    }
}
@media screen and (max-width: 600px){
    .brand-name h1{
        font-size: 20px;
    }
    .admin-container .a-content.a-cards{
        justify-content: center;
    }
    .side-menu ul li img{
        height: 30px;
        width: 30px;
    }
    .user .a-btn{
        display: none;
    }
    .admin-container .a-content .a-content2 .recent-payments table th:nth-child(2),
    .admin-container .a-content .a-content2 .recent-payments table td:nth-child(2){
        display: none;
    }
    .side-menu ul li{        
        padding: 10px 10px;       
        margin-left: -2rem;
    }
}
/**Product description**/
.single-product{
    width: 85%;
    margin: 30px auto;
    display: block;
}
.single-product .row{
    display: flex;
}
.single-product .full-img{
    width: 40%;
}
.single-product .img-description{
    width: 60%;
    padding: 10px 30px;
}
.single-product h1{
    font-family: poppins;
}
.single-product h4{
    color: #eb4d4b;
    font-weight: 500;
    margin: 15px 0;
}
.single-product select{
    margin-bottom: 15px;
}
.single-product input{
    border: 1px solid #eb4d4b;
    text-align: center;
}
.single-product input:focus{
    outline: none;
}
.single-product h3{
    font-family: poppins;
    margin: 20px 0 2px 0;
}
.single-product .fa{
    color: #eb4d4b;
    margin-left: 15px;
}
.small-img-col{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
@media screen and (max-width:700px) {
    .single-product{
        margin: 40px auto;
    }
    .single-product .row{
        flex-direction: column;
    }
    .single-product .full-img{
        width: 100%;
        justify-content: center;
    }
    .single-product .img-description{
        text-align: center;
        width: 100%;

    }
    .single-product select{
        margin-bottom: 20px;
    }
    .single-product input{
        margin: 0 auto 15px auto;
        display: block;
        
    }
    .single-product h3{
        font-family: poppins;
        margin: 20px 0 2px 0;
    }
}

/* addProduct page of panel*/

table.product-list{
    margin-top: 30px;
    text-align: center;
    width: 100%;
}

table.product-list td{
    border: 1px solid rgb(204, 200, 200);
    text-align: left;
    padding: 8px 15px;
}

tr:nth-child(even), table.product-list thead tr{
    background-color: rgb(204, 200, 200);
}

.submit-container{
    margin-left: 30em;
}

.add_product label{
    width: 20%;
    margin-left: 30px;
    font-size: 1.3rem;
}

.add_product input[type="text"],.add_product input[type="number"]{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(165,161,161);
    color: #eb4d4b;
    font-weight: 600;
}

.add_product input[type="submit"],.add_product input[type="reset"]{
    background-color: #eb4d4b;
    color: #fff;
    padding: 6px 12px;
    margin: 15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 0;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
    font-weight: 500;
}

.add_product input[type="submit"]:hover{
    background-color: #dd1d1a;
}

.add_product input[type="reset"]:hover{
    background-color: #dd1d1a;
}

.add_product input[type="text"]:focus,input[type="text"]:active,input[type="number"]:focus,input[type="number"]:active{
    outline: none;
}

.add_product h3{
    color: #eb4d4b;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid rgb(202, 182, 182);    
}

table.product-list #editProduct, #deleteProduct{
    background-color: #eb4d4b;
    color: #fff;
    padding: 6px 8px;
    border: none;
    border-radius: 0;
    font-size: 1.1rem;
    cursor: pointer;
    outline: none;
    font-weight: 500;
}

table.product-list #editProduct{
    margin-right: 10px;
}


/* ----------------------------- */
















